.blog {
    background-image: url(images/hd-bg.jpg);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    flex: 0 0 calc(33.3333% - 20px);
    margin: 2px;
}

.icons span i.fa-trash:hover {
    color: rgb(231, 12, 12);
    text-shadow: 0 0 5px red;

}

.icons span i.fa-pencil:hover {
    color: rgb(12, 63, 231);
    text-shadow: 0 0 5px darkblue;
}

.like-button:hover {
    /* transition: cubic-bezier(0.075, 0.82, 0.165, 1); */
    color: rgb(231, 49, 12);
}

.star-rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
}
.star-rating input {
    display: none;
}
.star-rating label {
    display: inline-block;
    font-size: 1.5em;
    padding: 0.1em;
    cursor: pointer;
}
.star-rating label:before {
    content: '\2605';
    display: block;
}
.star-rating input:checked ~ label:before {
    content: '\2605';
    color: gold;
}
.star-rating label:hover:before,
.star-rating label:hover ~ label:before {
    content: '\2605';
    color: gold;
}



@media (max-width: 992px) {
    .card {
        flex: 0 0 calc(50% - 20px);
    }
}

@media (max-width: 576px) {
    .card {
        flex: 0 0 calc(100% - 20px); 
    }
}